

@use "abstract" as *; 

/*GENERALE*/
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
/*HEADER*/
h1 {
  @include flexMid;
  position: relative;
  margin: 0 auto;
  padding: 16px;
  width: 100%;
  font-family: "Shrikhand", cursive;
  box-shadow: -1px -20px 12px 20px rgb(0 0 0 / 50%);
}

.locate {
  @include flexMid;
  background: rgb(227, 218, 218);
  margin-bottom: 32px;
  gap: 16px;
  & p {
    font-weight: bold;
  }
  }

h2 {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

p {
  text-align: center;
  font-size: medium;
}

.explorer{
  @include flexMid;
  }
  button {
  color: white;
  background-color: $primary;
  border: none;
  border-radius: 32px;
  font-weight: bold;
  font-size: 100;
  padding: 16px 32px;
  box-shadow: 10px 8px 20px -8px rgb(0 0 0 / 49%);
  background-image: linear-gradient(to top, $primary, rgb(234, 118, 234));
}
