.desktop--grid {
    @media screen and (min-width: 599px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 8px;
      grid-row-gap: 8px;
      width: 100%;
    }
  }