.cards {
  background-color: $lightgrey;
  padding: 42px 0 80px 0;

  &__title {
    text-align: start;
    padding: 0 32px;
  }
}

.menu {
  @media screen and (min-width: 599px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
}
