.locate {
    @include flexMid;
    height: 48px;
    background-color: $smokegrey;
    margin-bottom: 32px;
    gap: 16px;

    & input{
    border: none;
    background-color: $smokegrey; 
    margin: 0 -106px 0  16px;
    font-size: large;
    font-weight: bolder;   
    }
}