@-webkit-keyframes check-rotate {
  0% {
    transform: rotate(-75deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes check-rotate {
  0% {
    transform: rotate(-75deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes pop-up {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes pop-up {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

p {
  text-align: center;
  font-size: medium;
}

a {
  text-decoration: none;
  color: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.locate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: #ebebeb;
  margin-bottom: 32px;
  gap: 16px;
}
.locate input {
  border: none;
  background-color: #ebebeb;
  margin: 0 -79px 0 8px;
  font-size: large;
}

button {
  color: white;
  background-color: #9656dc;
  border: none;
  border-radius: 32px;
  font-weight: bold;
  font-size: 17.6px;
  padding: 16px 32px;
  box-shadow: 10px 8px 20px -8px rgba(0, 0, 0, 0.49);
  background-image: linear-gradient(to top, #9656dc, rgb(234, 118, 234));
  margin-bottom: 48px;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
button:hover {
  transform: scale(1.15);
  cursor: pointer;
  box-shadow: 0px 1px 30px 0px #99e2d0;
}

.card {
  margin: 32px 32px;
  border-radius: 16px;
  background-color: white;
  position: relative;
  transform: scale(1);
}
.card:hover {
  transform: scale(1.05);
  transition: transform 400ms;
  cursor: pointer;
}
.card--disposition {
  background-color: #f6f6f6;
}
.card--disposition > h2 {
  padding: 42px 0 16px 0;
}
.card__img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.card__title {
  font-weight: bolder;
  padding: 0 8px;
}
.card__title--position {
  position: relative;
  line-height: 50%;
  padding: 1px 0px;
}
.card__title--position i {
  font-size: 32px;
  position: absolute;
  right: 16px;
  top: 15%;
}
.card__title--position i:hover {
  background-image: linear-gradient(to top, #9656dc, rgb(234, 118, 234));
  cursor: pointer;
  transition: 350ms;
}
.card--badge {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #99e2d0;
  padding: 8px 10px;
  color: #2c9c81;
}
.card__text {
  text-align: start;
  padding: 0 8px;
  color: grey;
}

.fa-solid.fa-heart {
  opacity: 0;
}
.fa-solid.fa-heart:hover {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transform-origin: center;
  transform: 150ms;
  opacity: 1;
}

.fa-regular.fa-heart {
  opacity: 1;
}
.fa-regular.fa-heart:hover {
  opacity: 0;
}

.explorer {
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explorer .button {
  color: white;
  background-color: #9656dc;
  border: none;
  border-radius: 32px;
  font-weight: bold;
  font-size: 17.6px;
  padding: 16px 32px;
  box-shadow: 2px 7px 13px 0px rgba(0, 0, 0, 0.49);
  background-image: linear-gradient(to top, #9656dc, rgb(234, 118, 234));
  margin-bottom: 48px;
}
.explorer .button:hover {
  cursor: pointer;
}

header {
  width: 100%;
  background-color: #f6f6f6;
}
header a {
  color: inherit;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 16px;
  width: 100%;
  font-family: "Shrikhand", cursive;
  box-shadow: 0px -20px 12px 14px;
}

.title {
  background-color: #f6f6f6;
}
.title p {
  color: #606060;
}

.tuto {
  font-size: 17.6px;
  font-weight: bolder;
  padding: 0 8px;
  counter-reset: tuto-list;
}
.tuto__title {
  text-align: start;
  padding: 0 5%;
}
@media screen and (min-width: 599px) {
  .tuto__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.tuto ol {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (min-width: 599px) {
  .tuto ol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
  }
}
.tuto ol li {
  justify-content: flex-start;
  padding: 24px 32px;
  margin: 16px 0;
  background-color: #ebebeb;
  box-shadow: 2px 7px 13px 0px rgba(0, 0, 0, 0.49);
  border-radius: 16px;
  position: relative;
}
.tuto ol li::before {
  content: counter(tuto-list);
  counter-increment: tuto-list;
  background-color: #9656dc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  bottom: 22px;
}
.tuto ol li span {
  color: black;
}
.tuto ol li:hover {
  background-color: #eaddff;
  color: #9656dc;
}
.tuto ol li:hover .fa-solid {
  color: #9656dc;
}
.tuto ol li i.fa-solid {
  margin-right: 16px;
  color: grey;
}

.cards {
  background-color: #f6f6f6;
  padding: 42px 0 80px 0;
}
.cards__title {
  text-align: start;
  padding: 0 32px;
}

@media screen and (min-width: 599px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
}

.contact {
  background-color: #454545;
  color: white;
  padding: 12px 16px;
}
.contact__title {
  text-align: start;
  font-family: "Shrikhand", cursive;
}
.contact__list {
  padding: 0;
  list-style: none;
  line-height: 170%;
}
.contact .fa-solid {
  margin-right: 8px;
}
.contact .fa-utensils {
  margin-right: 14px;
}

.fa-arrow-left {
  position: absolute;
  top: 32px;
  left: 16px;
  z-index: 1;
  transform: scale(1);
}
.fa-arrow-left:hover {
  transform: scale(1.25);
  transition: transform 400ms;
  cursor: pointer;
}

section h1 {
  justify-content: flex-start;
  box-shadow: none;
  border-radius: 16px 16px 0 0;
}
@media screen and (min-width: 599px) {
  section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page__menu {
  border-radius: 32px 32px 0 0;
  position: relative;
  bottom: 32px;
  background-color: #f6f6f6;
  width: 100%;
  padding-top: 16px;
}
@media screen and (min-width: 599px) {
  .page__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 5%;
         column-gap: 5%;
    justify-content: center;
  }
}
.page__menu__img {
  width: 100%;
}
.page__menu__img img {
  max-width: 100%;
  max-height: 512px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page__menu--icon {
  position: absolute;
  right: 0px;
  top: 16px;
}
.page__menu .fa-solid.fa-heart,
.page__menu .fa-regular.fa-heart {
  font-size: 32px;
  position: absolute;
  right: 16px;
  top: 15%;
  top: 16px;
}
.page__menu .fa-solid.fa-heart:hover,
.page__menu .fa-regular.fa-heart:hover {
  background-image: linear-gradient(to top, #9656dc, rgb(234, 118, 234));
  cursor: pointer;
  transition: 350ms;
}
.page__menu .fa-solid.fa-circle-check {
  font-size: 24px;
  color: white;
}
@media screen and (min-width: 599px) {
  .page__menu .desktop--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    width: 100%;
  }
}
.page__menu button {
  margin: 58px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 599px) {
  .page__menu button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.selection {
  margin: 0 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.selection__title {
  text-align: start;
  margin: 16px;
  display: inline-block;
  border-bottom: 5px solid #99e2d0;
}
.selection__description {
  overflow: hidden;
}
.selection__description h3, .selection__description p {
  margin: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.selection--check {
  background-color: #99e2d0;
  width: 15%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 16px 16px 0;
  margin-right: -15%;
  transition: margin-right 450ms;
}
.selection__food {
  display: flex;
  background-color: white;
  border-radius: 16px;
  margin: 8px;
  transform: scale(1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-animation: pop-up 1000ms;
          animation: pop-up 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.selection__food:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.selection__food:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.selection__food:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.selection__food:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.selection__food:hover {
  transform: scale(1.05);
  transition: transform 400ms;
  transition-delay: 450ms;
  cursor: pointer;
  overflow: visible 0.7s;
  box-shadow: 0px 0px 13px 0px #99e2d0;
}
.selection__food:hover .selection--check {
  margin-right: 0;
}
.selection__food:hover .selection--check i {
  -webkit-animation: check-rotate 500ms ease-in-out;
          animation: check-rotate 500ms ease-in-out;
}
.selection__food h3 {
  flex-wrap: nowrap;
}
.selection__food p {
  text-align: start;
  color: #606060;
}
.selection__price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  padding: 8px 16px;
}

.fa-circle {
  color: white;
}/*# sourceMappingURL=style.css.map */