.fa-arrow-left {
    position: absolute;
    top: 32px;
    left: 16px;
}

main > img {
width: 100%;
height: auto;}

section h1 {
    justify-content: flex-start;
    box-shadow: none;
}

.page__menu {
    border-radius: 16px 16px 0 0;
}