.fa-arrow-left {
  position: absolute;
  top: 32px;
  left: 16px;
}

main > img {
  width: 100%;
  height: auto;
}

section h1 {
  justify-content: flex-start;
  box-shadow: none;
  border-radius: 16px 16px 0 0;
}

.page__menu {
  border-radius: 16px 16px 0 0;
  position: relative;

  & i {
    @include heart--position;
  }
}
