.explorer {
  margin-top: 42px;
  @include flexMid;
  .button {
      color: white;
      background-color: $primary;
    border: none;
    border-radius: 32px;
    font-weight: bold;
    font-size: 17.6px;
    padding: 16px 32px;
    @include Shadow;
    background-image: linear-gradient(to top, $primary, rgb(234, 118, 234));
    margin-bottom: 48px;
    
    &:hover {
      cursor: pointer;
    }
  }
}
