.locate {
  @include flexMid;
  height: 48px;
  background-color: $smokegrey;
  margin-bottom: 32px;
  gap: 16px;

  & input {
    border: none;
    background-color: #ebebeb;
    margin: 0 -79px 0 8px;
    font-size: large;
  }
}
