@mixin flexMid {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin Shadow {
    box-shadow: -1px -20px 12px 20px;
}

@mixin Radius ($radius) {
    -webkit-border-radius : $radius;
    -moz-border-radius : $radius;
    -o-border-radius : $radius;
    border-radius : $radius;
}