@keyframes check-rotate {
  0% {
    transform: rotate(-75deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pop-up {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
